body {
    margin: 0%;
    height: 100%;
}

.corpo {
    position: absolute;
    width: 100%;
    height: 100%;
}

.corpo2 {
    position: absolute;
    width: 100%;
    height: 85%;
}

.topo {
    background-color:#44c;
    width: 100%;
    height: 20%;
}

#conteudo1 {
    position:relative;
    width: 50%;
    height: 110%;
    background-color:coral;
    float: left;
    padding: auto;
}

#conteudo2 {
    text-align: center;
    position: relative;
    width: 50%;
    height: 110%;
    background-color:darkcyan;
    float: right;
}

#conteudo3 {
    position:relative;
    width: 50%;
    height: 200%;
    background-color:coral;
    float: left;
    padding: auto;
}

#conteudo4 {
    text-align: center;
    position: relative;
    width: 50%;
    height: 200%;
    background-color:darkcyan;
    float: right;
}

.escrita {
    font-family: 'Times New Roman', Times, serif;
    font-size: 100%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    text-align:justify;
    color:honeydew;
}

.escrita2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 110%;
    margin: 13% 5% 5% 5%;
    font-size: 120%;
    margin: 17% 5% 5% 5%;
    text-align:justify;
    color:honeydew;
    padding: auto;
}


.img {
    width: 40%;
    border-radius: 100%;
    margin-top: 6%;
}

.img2 {
    width: 40%;
    border-radius: 100%;
    margin-top: 10%;
    margin-top: 8%;

}

.proxima {
    font-family: 'Times New Roman', Times, serif;
    font-size: 120%;
    color: honeydew;
    margin-top: 1%;
    text-align: center;
}

#rodape {
    width: 100%;
    height: 10%;
    bottom: 0%;
    margin: 0%;
    background-color: brown;
    position:fixed ;
}

#titulo {
    color: honeydew;
    font-size: 60px;
    text-align: center;
}

video {
    width: 25%;
    border-radius: 10%;
    margin: 5% 10% 5% 10%;
    box-shadow: 0px 0px 0px 0px black;
}

.botao {
    color: honeydew;
}

.descricao {
    margin-top: 12px;
    margin-bottom: 7px;;
    font-family: 'Times New Roman', Times, serif;
    color: aliceblue;
}

.lista {
    margin-left: 1%;
    margin-top: 0%;
    margin-bottom: 0%;
    color: honeydew
}

.descricao1 {
    font-family: 'Times New Roman', Times, serif;
    color: aliceblue;
}

